.user
  .user__name
    name
  .user__font
    = link_to "#", class: "user__icon" do
      = icon('fas', 'edit', class: "user__icon")
      %span<>
    = link_to "#", class: "user__icon" do
      = icon('fas', 'cog', class: "user__icon")
      %span<>

      
.contents
  .contents__group
    .ul 
      techcamp
      .li
        まだメッセージがありません
  .contents__group
    .ul 
      techcamp
      .li
        まだメッセージがありません
  .contents__group
    .ul 
      techcamp
      .li
        まだメッセージがありません
  .contents__group
    .ul 
      techcamp
      .li
        まだメッセージがありません


