* {
  box-sizing: border-box;
}
$color-btn: #38aef0;
$color-message-base: #ffffff;

.wrapper{
  display: flex;
}

.user{
  background-color: #253141;
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  font-weight: bold;
  &__name {
    font-size: 16px;
    height: 20px;
    width: 200px;
    color: $color-message-base;
  }
  &__font {
    height: 20px;
    width: 60px;
    text-align: right;
    a {
        color: $color-message-base;
        margin-left: 5px;
      }
  }
}


.side-bar__group-list{
  background-color: #2f3e51;
  color: $color-message-base;
  height: calc(100vh - 100px);
  width: 300px;
  padding: 20px 20px 0px 20px;
  font-weight: bold;
  &__group {
    a {
      font-size: 15px;
      color: $color-message-base;
      text-decoration: none;
      margin-bottom: 5px;
    }
    &__name {
      font-size: 15px;
    }
    &__message {
      margin-top: 5px;
      margin-bottom: 40px;
      font-size: 11px; 
    }
  }
}

.chat {
  background-color: $color-message-base;
  height: 100px;
  width: calc(100vw - 300px);
  border-bottom: 0.5px #999999 solid;
  display: flex;
  &__name {
    margin: 35px 0 15px 40px;
    .ul {
      color: #333333;
      font-size: 20px;
      .li {
        color: #999999;
        margin-top: 15px;
        font-size: 12px;
      }
    }
  }


  a {
    color: $color-btn;
    border-color: $color-btn;
    height: 40px;
    width: 72px;
    margin-top: 28px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid;
    position: absolute;
    right: 28px;
    text-decoration: none;
  }
}

.messages {
  height: calc(100vh - 190px);
  overflow: scroll;

  .upper-message {
    display: flex;
    padding-top: 35px;
    margin-left: 40px;

    .upper-message__user-name {
      color: #333333;
      font-size: 16px;
      font-weight: bold;
      line-height: 25px;
    }
    .upper-message__date {
      color: #999999;
      font-size: 12px;
      margin-left: 15px;
    }
  }

  .lower-message {
      color: #434a54;
      font-size: 14px;
      margin-bottom: 46px;
      margin-left: 40px;
  }
}


.form {
  background-color: #d2d2d2;
  height: 90px;
  width: calc(100vw - 300px);
  bottom: 0;
  display: flex;
  position: absolute;
  &__textbox {
    width: 100%;
    margin: 20px 150px 20px 50px;
    display: flex;
    .ul-content {
      width: 100%;
      padding-left: 10px;
      line-height: 50px;
      &__text {
        height: 50px;
        width: 100%;
        padding: 0 0px 0 10px;
        position: relative;
        &__image {
          position: absolute;
          cursor: pointer;
          top: 20px;
          right: 160px;
          &__file {
            display: none;
          }
        }
      }   
    }
      
    .ul-submit {
      background-color: $color-btn;
      color: $color-message-base;
      width: 100px;
      right: 40px;
      padding: 0 30px;
      margin-left: 15px;
      text-align: center;
      line-height: 50px; 
      position: absolute;
      cursor: pointer; 
      text-decoration: none;
    }
  }
}